#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#neutralinoapp h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}

#editor {
    transition: all 0.2s ease;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    line-height: 1.8;
}

#editor.underline {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 1);
    text-decoration-thickness: 4px;
    text-underline-offset: 3px;
    line-height: 1.8;
}